@charset "utf-8";

 @media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1048px !important;
}
}

  @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1275px !important;
}
}



.layout-switcher a.layout:first-child{
  background: var(--color-primary);
  color: var(--color-white);
}